<web-app>

<listener>
 <listener-class>
  com.sun.xml.ws.transport.http.servlet.WSServletContextListener
 </listener-class>
</listener>

<servlet>
 <servlet-name>jaxws</servlet-name>
 <servlet-class>
  com.sun.xml.ws.transport.http.servlet.WSServlet
 </servlet-class>
</servlet>

<servlet-mapping>
 <servlet-name>jaxws</servlet-name>
 <url-pattern>/catalog</url-pattern>
</servlet-mapping>

</web-app>